h1 {
    
 
    background-color: #bbd2fa;
    color: #FFFFFF;
    font-family:  Verdana;
    border-radius: 30px;
    padding: 5px;
    position: relative;
}

h2 {
    font-family: Tahoma;
}
body {
    background-color:#e0e0eb;
}

section {
     border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding:5%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Helvetica;
    font-size: 1em;
}